# .github/workflows/release.yml
name: Build Image

on:
  pull_request:
  push:
    branches: 
      - master

jobs:
  test-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Docker Image tests
        run: |
          docker compose -f docker/docker-compose.yml up --build \
            --exit-code-from php-cli
